<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @demo.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @demo.description %>
</p>

<p>
  <strong>Number:</strong>
  <%= @demo.number %>
</p>

<%= link_to 'Edit', edit_demo_path(@demo) %> |
<%= link_to 'Back', demos_path %>
